<div class="container">
<header class="d-flex justify-content-left">
<ul class="nav nav-pills">
<li class="nav-item">
<a class="nav-link" href="/docs">Documents</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/tags">Tags</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/types">Types</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/people">People</a>
</li>
</ul>
</header>
</div>